@import 'tailwindcss';

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002a2a;
  --sl-color-accent: #00797a;
  --sl-color-accent-high: #7ddbdb;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #d8d8d8;
  --sl-color-gray-3: #a8aab1;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #a2e5e5;
  --sl-color-accent: #007272;
  --sl-color-accent-high: #003b3b;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #2b2e35;
  --sl-color-gray-3: #444852;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

:root {
  --sl-content-width: 70rem;
}

ol ul {
  list-style: disc;
  margin-left: 1.5em;
}

ol ul li::marker {
  color: inherit;
}
